.header-container {
    display: flex;
    flex-direction: column;
    padding:40px 0;
    position: relative;
}
.header {
    font-size:20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header p {
    font-size:24px;
    font-weight: 600;
}
.plus-icon {
    width:50px;
    height: 50px;
    font-size: 40px;
    border:1px solid #000000;
    border-radius: 50px;
    padding: 10px;
    cursor:pointer;
}
.plus-icon:hover {
    color:#fff;
    background-color: #16E56D; 
    transition: all 0.4s ease-out;
    border:none;
    padding:-20px;
}
.popupScreen {
    width: 400px;
    height: 200px;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    gap:20px;
    background-color: rgb(129, 83, 50);
    left: 350px;
    top: 411px;
    border-radius: 5px;
}
.popupScreen p {
    color:#ffff;
    font-weight: 600;
}
.popupScreen .input-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5px;
}
.popupScreen .input-btn button {
    padding:15px 20px;
    border-radius: 5px;
    border:none;
}
.popupScreen input {
    padding:20px 40px;
    border:none;
    outline: none;
    box-shadow: 0 0 5px #333;
    border-radius: 10px;
}
.dropdown-container {
    position: absolute;
    top: 100px;
    right: 0px;
    padding: 10px 20px;
}
.dropdown-container button {
    padding:10px 15px;
    color:#ffff;
    background-color: #56e993;
    border:none;
    border-radius: 5px;
    cursor:pointer;
    font-size: 16px;
}
.dropdown-container nav {
    top:100%;
    left:0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: 200ms all;
}
.dropdown-container ul li{
    padding:10px 15px;
    color:#ffff;
    background-color: #05863b;
    border:none;
    border-radius: 5px;
    cursor:pointer;
    border:1px solid #eee;
}
.dropdown-container:focus-within nav {
    visibility: visible;
    opacity:1;
    transform: translateY(5px);
}